html
{
    width: 1440px;
}

/* 
    Personalização do Header
*/
header 
{
    padding: 70px 60px;
}

#button-try 
{
    float: right;
    text-decoration: none;
    color: hsl(322, 100%, 66%);
    border: solid 1px hsl(322, 100%, 66%);
    padding: 10px 30px;
    border-radius: 30px;
}

/*
    Personalização das sections
*/

/*
    Top section
*/
.main-section
{
    margin-top: 100px;
    color: hsl(192, 100%, 9%);
    letter-spacing: 1px; 
    text-align: center;
}

.section-title 
{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0; 
    margin-bottom: 30px;
}

.main-section p
{
    padding: 0 450px;
    margin: 30px 0;
}

.button-get-started
{
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: hsl(322, 100%, 66%);
    padding: 20px 80px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px lightgrey;
}

.button-get-started:hover
{
    cursor: pointer;
}

.main-section img 
{
    margin: 80px auto;
    display: block;
}


/*
    Communities
*/

.community-section
{
    /* alignment */
    display: flex;
    justify-content: space-evenly;
    /* text */
    color: grey;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

.community-section h1
{
    color: hsl(192, 100%, 9%);
    font-size: 72px;
}

/*
    other sections
*/

.services-section
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: hsl(192, 100%, 9%);
    letter-spacing: 1px;
    font-size: 14px;
}

.services-section h1
{
    margin-bottom: 20px;
}

.services-section img, .services-section div
{
    width: 500px;
}


.wave-cut-top, .wave-cut-footer
{
    position: relative;
    top: 5px;
}


.blue-section
{
    background-color: hsl(207, 100%, 98%);
}

.white-section
{
    margin: 100px 0;
}


/*
    Footer

    *** remember to try to use grid here
*/

footer
{
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 70px;
}
